# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
!**/src/main/**/build/
!**/src/test/**/build/
out/
!**/src/main/**/out/
!**/src/test/**/out/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Gradle
.gradle

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Kotlin ###
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
